<!--
  https://www.youtube.com/watch?v=T5iGAAypGBA
-->

<ion-header>

  <ion-navbar>
    <ion-title>gallery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- <h2>{{ data }}</h2> -->
  <ion-slides pager *ngIf="data === 'trending'">

    <ion-slide *ngFor="let post of mediaService.trending">

      <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/facebook-avatar.jpg">
          </ion-avatar>
          <h2>{{ post.username }}</h2>
          <p> {{ post.createdAt }}</p>
        </ion-item>

        <img padding src="{{ post.image }}">

        <ion-card-content>
          <p>{{ post.caption }}</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>

    </ion-slide>
  </ion-slides>

  <ion-slides pager *ngIf="data === 'mostRecent'">

    <ion-slide *ngFor="let post of mediaService.mostRecent">

      <ion-card>

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/facebook-avatar.jpg">
          </ion-avatar>
          <h2>{{ post.username }}</h2>
          <p>November 5, 1955</p>
        </ion-item>

        <img padding src="{{ post.image }}">

        <ion-card-content>
          <p>{{ post.caption }}</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>

    </ion-slide>

  </ion-slides>

  <ion-slides pager *ngIf="data === 'twitterHome'">


    <ion-slide *ngFor="let post of mediaService.twitterHome">

      <ion-card>
        <img padding src="{{ post.image }}"/>
        <ion-card-content>
          <ion-card-title>
            {{ post.username }}
            </ion-card-title>
          <p>{{ post.text}}</p>
        </ion-card-content>
      </ion-card>

    </ion-slide>

  </ion-slides>

  <ion-slides pager *ngIf="data === 'gramHome'">

    <ion-slide *ngFor="let post of mediaService.gramHome">

      <ion-card>
        <img padding src="{{ post.image }}"/>
        <ion-card-content>
          <ion-card-title>
            {{ post.username }}
            </ion-card-title>
          <p>{{ post.caption }}</p>
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>

  <ion-slides pager *ngIf="data === 'tubeHome'">


    <ion-slide *ngFor="let post of mediaService.tubeHome">

      <ion-card>
        <img src="{{ post.image }}"/>
        <ion-card-content>
          <ion-card-title>
            {{ post.username }}
            </ion-card-title>
          <p>{{ post.caption }}</p>
        </ion-card-content>
      </ion-card>

    </ion-slide>

  </ion-slides>

</ion-content>
