<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="type">
    <ion-segment [(ngModel)]="type">
      <ion-grid>
        <button ion-button outline (click)="type = 'artists'">Artists</button>
        <ion-slides *ngSwitchCase="'artists'">
          <ion-slide *ngFor="let post of mediaService.mostRecent">
            <ion-thumbnail>
              <img padding src="{{ post.thumbnail }}" (click)="launchGallery('mostRecent')">
            </ion-thumbnail>
          </ion-slide>
        </ion-slides>

        <button ion-button outline (click)="type = 'athletes'">Athletes</button>
        <ion-slides *ngSwitchCase="'athletes'">
          <ion-slide *ngFor="let post of mediaService.mostRecent">
            <ion-thumbnail>
              <img padding src="{{ post.thumbnail }}" (click)="launchGallery('mostRecent')">
            </ion-thumbnail>
          </ion-slide>
        </ion-slides>

        <button ion-button outline (click)="type = 'risingstars'">Rising Stars</button>
        <ion-slides *ngSwitchCase="'risingstars'">
          <ion-slide *ngFor="let post of mediaService.mostRecent">
            <ion-thumbnail>
              <img padding src="{{ post.thumbnail }}" (click)="launchGallery('mostRecent')">
            </ion-thumbnail>
          </ion-slide>
        </ion-slides>

        <button ion-button outline (click)="type = 'film'">Film</button>
        <ion-slides *ngSwitchCase="'film'">
          <ion-slide *ngFor="let post of mediaService.mostRecent">
            <ion-thumbnail>
              <img padding src="{{ post.thumbnail }}" (click)="launchGallery('mostRecent')">
            </ion-thumbnail>
          </ion-slide>
        </ion-slides>

        <button ion-button outline (click)="type = 'politics'">Politics</button>
        <ion-slides *ngSwitchCase="'politics'">
          <ion-slide *ngFor="let post of mediaService.mostRecent">
            <ion-thumbnail>
              <img padding src="{{ post.thumbnail }}" (click)="launchGallery('mostRecent')">
            </ion-thumbnail>
          </ion-slide>
        </ion-slides>

        <button ion-button outline (click)="type = 'fitness'">Fitness</button>
        <ion-slides *ngSwitchCase="'fitness'">
          <ion-slide *ngFor="let post of mediaService.mostRecent">
            <ion-thumbnail>
              <img padding src="{{ post.thumbnail }}" (click)="launchGallery('mostRecent')">
            </ion-thumbnail>
          </ion-slide>
        </ion-slides>
      </ion-grid>
    </ion-segment>
  </div>



</ion-content>
