page-home {

  h2 {
    margin-bottom: 0px;
    margin-left: 3px;
  }

  ion-icon {
    zoom: .75;
  }

  .card {
    padding: 0;
    margin: 3px;
    border: 1px solid purple;
    height: 222px;
    width: 222px;
  }

  .card-ios {
    padding: 0;
    margin: 3px;
    border: 1px solid purple;
    height: 222px;
    width: 222px;

  }
  img {
    height: 220px;
    width: 220px;
    // height: auto;
    padding: 0;
  }

  // .noMarge {
  //   margin-top: 0;
  // }

  .scroll-zoom-wrapper {
          white-space: nowrap;
      }

      .card {
          height: 222px;
          width: 222px;
          display: inline-block;
      }


      ion-scroll {
          min-height: 285px;
          height: auto;
          margin-top: 0px;

              .scroll-content {
              padding: 0px !important;
          }
      }

  ::-webkit-scrollbar{
    display:none;
  }


}
