<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="trending" type="primary">
        Trending
      </ion-segment-button>
      <ion-segment-button value="mostRecent" type="primary">
        Recent
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="type">
    <ion-grid>
      <ion-row *ngSwitchCase="'trending'">
          <ion-col col-6 class="margin" *ngFor="let post of mediaService.trending">
                <ion-thumbnail>
                  <img padding src="{{ post.thumbnail }}" (click)="launchGallery('trending')">
                </ion-thumbnail>
          </ion-col>
      </ion-row>


      <ion-row *ngSwitchCase="'mostRecent'">
          <ion-col col-6 *ngFor="let post of mediaService.mostRecent">
                <ion-thumbnail>
                  <img padding src="{{ post.thumbnail }}" (click)="launchGallery('mostRecent')">
                </ion-thumbnail>
          </ion-col>
      </ion-row>
      <button ion-button outline>Artists</button>
      <button ion-button outline>Athletes</button>
      <button ion-button outline>Rising Stars</button>
      <button ion-button outline>Film</button>
      <button ion-button outline>Politics</button>
      <button ion-button outline>Fitness</button>



    </ion-grid>
  </div>



</ion-content>
