page-home {

  h2 {
    margin-bottom: 0px;
    margin-left: 3px;
  }

  .card {
    padding: 0;
    margin: 3px;
    border: 1px solid purple;
  }

  .card-ios {
    padding: 0;
    margin: 3x;
    border: 1px solid purple;
  }

  img {
    height: 100%;
    padding: 0;
  }

  // .noMarge {
  //   margin-top: 0;
  // }

  .scroll-zoom-wrapper {
          white-space: nowrap;
      }

      .card {
          display: inline-block;
      }


      ion-scroll {
          min-height: 327px;
          height: auto;
          margin-top: 0px;

              .scroll-content {
              padding: 0px !important;
          }
      }

  ::-webkit-scrollbar{
    display:none;
  }


}
