<ion-header>
  <ion-navbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="mostRecent" (click)="getMoreFeed()">
      Recent
    </ion-segment-button>
    <ion-segment-button value="trending" (click)="getMoreFeed()">
      Trending
    </ion-segment-button>
  </ion-segment>
  <div padding>
    <ion-list>
      <ion-grid fixed>
          <ion-row *ngFor="let post of feedService.feed">
            <ion-col col-12>
              <img *ngIf="post.image" padding src="{{ post.image }}">
              <div *ngIf="post.text" padding class="tweet-feed">
                <h5>{{ post.username }}</h5>
                <p>{{ post.text }}</p>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
