<ion-header>
  <ion-navbar>
<!--     <ion-title>
      Feed
    </ion-title> -->
    <ion-searchbar [(ngModel)]="search" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of feedService.favdisplay">
      <ion-avatar item-start>
        <img src="{{ item.image }}">
      </ion-avatar>
      <h3>{{ item.text }}</h3>
      <!-- Advanced: explicity set the icon for each platform -->
      <ion-icon float-right ios="ios-trash" md="md-trash" (click)="feedService.toggleFavorite(item)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list id="celebsList">
    <ion-item *ngFor="let item of items">
      <ion-label>{{ item.text }}</ion-label>
       <!-- Should value be  ? -->
      <ion-checkbox id='celeb' (ionChange)="addToFavs(item)" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>


    <ion-list>
      <ion-grid fixed>
          <ion-row *ngFor="let post of feedService.feed" style="margin-top:1px;margin-bottom:1px;">
            <ion-col col-12>
              <ion-card>
                <img *ngIf="post.image" src="{{ post.image }}" (click)="launchGallery('feed')">
                <div *ngIf="post.text" padding class="tweet-feed" (click)="launchGallery('feed')">
                  <h3>{{ post.username }}</h3>
                  <h5>{{ post.text }}</h5>
                </div>
                <div *ngIf="post.content" padding class="tmz-feed" (click)="launchGallery('feed')">
                  <h3>{{ post.author }}</h3>
                  <h5>{{ post.content }}</h5>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
