<ion-header>
  <ion-navbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="search" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of feedService.favdisplay">
      <ion-avatar item-start>
        <img src="assets/img/facebook-avatar.jpg">
      </ion-avatar>
      <h3>{{ item.text }}</h3>
      <!-- Advanced: explicity set the icon for each platform -->
      <ion-icon float-right ios="ios-trash" md="md-trash" (click)="feedService.toggleFavorite(item)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list id="celebsList">
    <ion-item *ngFor="let item of items">
      <ion-label>{{ item.text }}</ion-label>
       <!-- Should value be  ? -->
      <ion-checkbox id='celeb' (ionChange)="addToFavs(item)" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>

<!--   <ion-segment [(ngModel)]="type">
    <ion-segment-button value="mostRecent" (click)="getMoreFeed()">
      Recent
    </ion-segment-button>
    <ion-segment-button value="trending" (click)="getMoreFeed()">
      Trending
    </ion-segment-button>
  </ion-segment> -->
  <div padding>
    <ion-list>
      <ion-grid fixed>
          <ion-row *ngFor="let post of feedService.feed">
            <ion-col col-12>
              <img *ngIf="post.image" padding src="{{ post.image }}">
              <div *ngIf="post.text" padding class="tweet-feed">
                <h5>{{ post.username }}</h5>
                <p>{{ post.text }}</p>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
