<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3 text-center>Search Your Favorite Celebrities</h3>

  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  <ion-searchbar [(ngModel)]="search" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of feedService.favdisplay">
      <ion-avatar item-start>
        <img src="assets/img/facebook-avatar.jpg">
      </ion-avatar>
      <h3>{{ item }}</h3>
      <!-- Advanced: explicity set the icon for each platform -->
      <ion-icon float-right ios="ios-trash" md="md-trash"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list id="celebsList">
    <ion-item *ngFor="let item of items">
      <ion-label>{{ item.text }}</ion-label>
       <!-- Should value be  ? -->
      <ion-checkbox id='celeb' (ionChange)="addToFavs(item)" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>


  <button ion-button block color="danger" (click)="clear()">Clear</button>

</ion-content>

